form h1 
{
    color: rgba(7, 3, 0, 0.945);
    text-align: center;
    font-family: 'Urban Vibes';
    font-size: 50px;
    font-weight: normal;
}

body
{
    text-align: center;
    color: rgb(245, 102, 6); 
    font-family: 'Roashe';
    background-image: url(orange.png);
    background-size: cover;             
    background-position: center;        
    background-repeat: no-repeat;        
    background-attachment: fixed;       
}
.campo-form 
{
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.campo-form label 
{
    width: 150px;
    text-align: center;
    margin-right: 15px;
}

legend
{
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: 'Urban Vibes';
}

div
{
    font-weight: bold;
}
    

fieldset
{
    border-radius: 500px 150px 500px 150px;
    border-width: 5px;
    background-image: url(ti-white.webp);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.botoes input 
{
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
}

.botoes input[type="submit"] 
{
    background-color: #ff5b19;
    color: #fff;
}

.botoes input[type="reset"] 
{
    background-color: #ff5b19;
    color: #fff;
}


@font-face 
{
    font-family: 'Urban Vibes';
    src: url('./fonte/URBAN\ VIBES.ttf')
}

@font-face 
{
    font-family: 'Fragmentcore';
    src: url('./fonte/Fragmentcore.otf')
}

@font-face 
{
    font-family: 'Roashe';
    src: url('./fonte/Roashe.ttf')
}

@font-face 
{
    font-family: 'secrcode';
    src: url('./fonte/secrcode.ttf')
}

@font-face 
{
    font-family: 'Consola1';
    src: url('./fonte/Consola1.ttf')
}

@media (max-width: 600px) 
{
    form 
    {
        padding: 10px;
    }

    form h1 
    {
        font-size: 32px;
    }

    fieldset 
    {
        padding: 20px;
        border-radius: 40px;
    }

    .campo-form 
    {
        text-align: left;
    }

    .campo-form label 
    {
        font-size: 16px;
    }

    .campo-form input, textarea 
    {
        width: 100%;
        font-size: 14px;
    }

    .botoes 
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .botoes input 
    {
        width: 100%;
    }
}

/* TABLET */
@media (min-width: 601px) and (max-width: 900px) 
{
    form 
    {
        max-width: 90%;
    }

    fieldset 
    {
        max-width: 90%;
    }
}
